<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PZ Dedicated Server Mod Manager</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>PZ Dedicated Server Mod Manager</h1>
      </div>
      <div class="button-container">
        <button id="addMod" class="styled-button">Add Mod(s)</button>
        <button
          class="styled-button"
          id="update_config"
          onclick="updateConfig()"
        >
          Update Config
        </button>

        <span class="material-symbols-outlined" id="warning-icon">warning</span>
      </div>

      <div class="mod-list" id="modList">
        <!-- Mods will be inserted here by JavaScript -->
      </div>
    </div>

    <!-- Config Modal -->
    <div id="configModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Update Configuration</h2>
          <span class="close-modal">&times;</span>
        </div>
        <div class="modal-body">
          <div class="file-upload-container">
            <div class="file-upload-area" id="dropZone">
              <span class="material-symbols-outlined upload-icon"
                >upload_file</span
              >
              <p>Click to upload or drag and drop</p>
              <span class="file-name" id="fileName">No file selected</span>
              <input type="file" id="fileUpload" class="file-input" />
            </div>
          </div>

          <div class="divider">
            <span>OR</span>
          </div>

          <textarea
            id="configTextarea"
            placeholder="Enter your configuration here..."
          ></textarea>
        </div>
        <div class="modal-footer">
          <button class="modal-button cancel">Cancel</button>
          <button class="modal-button save">Process Config</button>
        </div>
      </div>
    </div>

    <!-- Missing Mod IDs Modal-->
    <div id="modIdsModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Mods with missing Mod ID's</h2>
          <span class="close-modal">&times;</span>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>

    <!-- Add Mods Modal -->
    <div id="addModsModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Add Mod(s)</h2>
          <span class="close-modal">&times;</span>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <label for="modUrl">Mod URL:</label>
            <input
              type="url"
              id="modUrl"
              name="modUrl"
              placeholder="Paste mod URL here..."
              class="url-input"
              required
            />
          </div>

          <div
            id="loadingSpinner"
            class="spinner-container"
            style="display: none"
          >
            <div class="fancy-spinner">
              <div class="ring outer"></div>
              <div class="ring inner"></div>
              <div class="ring center"></div>
            </div>
            <p class="loading-text">Processing mods...</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="modal-button cancel">Cancel</button>
          <button class="modal-button save">Process Config</button>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
