<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PZ Dedicated Server Mod Manager</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <h1 class="pacifico-regular">
        <a href="{{ url_for('index') }}">PZ Mod Manager</a>
      </h1>
      <div class="navbar-actions">
        <button id="addModsButton">
          Add Mods
          <i class="material-symbols-outlined"> add </i>
        </button>
        <button id="updateConfig">
          Update Config
          <i class="material-symbols-outlined"> description </i>
        </button>
      </div>
    </nav>

    <!-- Loading Spinner -->
    <div id="globalLoader" style="display: none">
      <div class="fancy-spinner">
        <div class="ring outer"></div>
        <div class="ring inner"></div>
        <div class="ring center"></div>
      </div>
      <p class="loading-text">Processing...</p>
    </div>
    <div class="container">
      <div class="mod-list" id="modList">
        <!-- Mods will be inserted here by JavaScript -->
      </div>
    </div>

    <!-- Add Mods Modal -->
    <div id="addModsModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Add Mods</h2>
          <span class="material-symbols-outlined help-icon">help</span>
          <div id="tooltip" style="display: none">
            This is the tooltip content.
          </div>
          <span class="close-modal">&times;</span>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <label for="collectionUrl">Steam collection URL</label>
            <input
              type="url"
              id="collectionUrl"
              name="collectionUrl"
              placeholder="Paste URL here..."
              class="url-input"
              required
            />
          </div>

          <div class="divider">
            <span>OR</span>
          </div>

          <div class="input-group">
            <label for="workshopUrl">Workshop Mod URL</label>
            <input
              type="url"
              id="workshopUrl"
              name="workshopUrl"
              placeholder="Paste URL here..."
              class="url-input"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button class="modal-button submit">Submit</button>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
